<!-- Botón para abrir el modal -->
<button type="button" class="btn btn-primary nuevoProducto" (click)="createProducto()">
    Nuevo Producto</button>

<form class="d-flex" role="search">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Buscar</button>
</form>
<div class="container">
    <table class="table">
        <thead class="">
            <tr>
                <th>ID</th>
                <th>Producto</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let producto of productos">
                <td>{{ producto.id}}</td>
                <td>{{ producto.nombre }}</td>
                <td>
                    <button class="btn btn-primary" (click)="editProducto(producto)">Editar</button>
                    <button (click)="deleteProducto(producto)" class="btn btn-danger" style="margin-left: 10px;">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<app-producto-edit [producto]="productoSeleccionado"></app-producto-edit>
<app-producto-delete [producto]="productoSeleccionado"></app-producto-delete>
<app-producto-create></app-producto-create>